# Data files
data/raw/
data/processed/

# Docs files
docs/*
!docs/CineScale_Project_Plan.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# PySpark
metastore_db/
derby.log
spark-warehouse/
